.vs
MinimalAPI/bin
MinimalAPI/obj

Application/MinimalAPI.Interface/bin
Application/MinimalAPI.Interface/obj

Domain/MinimalAPI.Models/bin
Domain/MinimalAPI.Models/obj

Infrastructure/MinimalAPI.Repository/bin
Infrastructure/MinimalAPI.Repository/obj

Tests/MinimalAPI.E2ETesting/bin
Tests/MinimalAPI.E2ETesting/obj

Tests/MinimalAPI.IntegrationTest/bin
Tests/MinimalAPI.IntegrationTest/obj

Tests/MinimalAPI.Repository.UnitTests/bin
Tests/MinimalAPI.Repository.UnitTests/obj
